<aside class="offers row">
<!-- <section class="card" ng-repeat="offer in offers">
  <h1><strong>{{offer.primaryheading}}</strong> {{offer.subheading}}</h1>
  <h2>{{offer.introduction}}</h2>
  <a href="{{offer.landingpage}}">
    <div class="cover-image"><img src="{{offer.coverimage}}"></div>
    <p>Read More</p>
  </a>
</section> -->
<section class="col-xs-6 col-sm-4 col-md-12">
  <div class="card">
  <h1><strong>{{offer.primaryheading}}</strong> {{offer.subheading}}</h1>
  <h2>{{offer.introduction}}</h2>
  <a href="{{offer.landingpage}}">
    <div class="cover-image"><img src="/images/homepage/slider/Honda-Amaze.jpg"></div>
    <p>Read More</p>
  </a>
</div>
</section>
<section class="col-xs-6 col-sm-4 col-md-12">
  <div class="card">
  <h1><strong>{{offer.primaryheading}}</strong> {{offer.subheading}}</h1>
  <h2>{{offer.introduction}}</h2>
  <a href="{{offer.landingpage}}">
    <div class="cover-image"><img src="/images/homepage/slider/Honda-Amaze.jpg"></div>
    <p>Read More</p>
  </a>
</div>
</section>
<section class="col-xs-6 col-sm-4 col-md-12">
  <div class="card">
  <h1><strong>{{offer.primaryheading}}</strong> {{offer.subheading}}</h1>
  <h2>{{offer.introduction}}</h2>
  <a href="{{offer.landingpage}}">
    <div class="cover-image"><img src="/images/homepage/slider/Honda-Amaze.jpg"></div>
    <p>Read More</p>
  </a>
</div>
</section>
</aside>
