<nav class="secondaryNavigation">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="dropdown" ng-repeat="car in cars">
        <a data-toggle="dropdown" class="dropdown-toggle">{{car.carName}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-repeat="page in car.pages">
            <a href="#/">{{page.title}}</a>
          </li>
        </ul>
      </li>
      <li class="pull-right">
        <a href="/offers">
            <span>Offers Zone</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
