$navbar-inverse-bg: #272829 !default;
$navbar-height:30px !default;
$navbar-border-radius:0px !default;

header{

  margin-bottom:100px;

  .navbar-brand{
    padding-top:0px;
    img{max-height: 250%;}
  }

  .navigationLinks{
    @extend .collapse;
    @extend .navbar-collapse;
    @extend .navbar-right;
    margin:auto 0px 0px 0px;
  }

  .secondaryNavigation{
    div.container{
      text-align:center;
    }
    ul{
      li:last{
        border-style:dashed;
      }
    }

    .dropdown-menu li:hover .sub-menu {
    visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu li .sub-menu,
    .dropdown .dropdown-menu
     {
        // @include transition-property(visibility);
        // @include transition-duration(2s);
        // @include transition-timing-function(ease-in);
     }
  }
}
