$navbar-inverse-bg: #272829 !default;
$navbar-height:30px !default;
$navbar-border-radius:0px !default;

header{

  margin-bottom:100px;

  .navbar-brand{
    padding-top:0px;
  }

  .navigationLinks{
    @extend .collapse;
    @extend .navbar-collapse;
    @extend .navbar-right;
    margin:auto 0px 0px 0px;
  }

  .secondaryNavigation{
    &>div{
      @extend .container;
      text-align:center;
      margin:0 auto;
    }
    ul{
      list-style:none;
      li{
        padding:0 20px;
        display:inline;
        border-left: 1px solid #B3B3B3;
      }
    }
  }
  .navbar-brand{
    img{
      max-width:200px; margin-top: -7px;
    }
  }

}
