$navbar-inverse-bg: #272829 !default;
$navbar-height:30px !default;
$navbar-border-radius:0px !default;

header{

  margin-bottom:100px;

  .navbar-brand{
    padding-top:0px;
    img{max-height: 250%;}
  }

  .navigationLinks{
    @extend .collapse;
    @extend .navbar-collapse;
    @extend .navbar-right;
    margin:auto 0px 0px 0px;
  }

  .secondaryNavigation{
    div{
      text-align:center;
    }
    span{
    margin:0 10px;
    }
    a{
      text-decoration:none;
      margin: 0 5px;
      &:hover{

      }
    }
    img{
      transform:scale(0.3);
    }
  }
  .navbar-brand{
    img{
      max-width:200px; margin-top: -7px;
    }
  }

}
