$navbar-inverse-bg: #272829 !default;
$navbar-height:40px !default;
$navbar-border-radius:0px !default;

header .navbar-brand{
  padding-top:0px;
}

header.header{
  border-bottom:none;
  margin-bottom:100px;
}
