.carousel-inner{
  width:100%;
  max-height: 550px !important;
}
.mainContent{
  @extend .col-md-8;
  @extend .well;


  &>div.ng-enter,  &>div.ng-leave {
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -webkit-transform: rotateY(-180deg);
  }
  &>div.ng-enter {
    left: 100%;
    .ng-enter-active {
        left: 0;
    }
}

&>div.ng-leave {
    left: 0;
    .ng-leave-active{
        left: -100%;
    }
}
}
